<h3>Product List</h3>

<form>
    <div class="form-group">
        <div class="input-group rounded">
            <input type="text" class="form-control rounded col-md-3" name="name" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
            <button type="submit" class="input-group-text border-0">
                <i class="fa fa-search"></i>
            </button>
            <a class="btn btn-secondary" href="/product" style="position:absolute; right:0;"><i class="fa fa-plus"></i> Create New</a>
        </div>
    </div>
</form>

<form>
    <select class="form-select form-select-sm" name="sort" onchange="this.form.submit();" aria-label=".form-select-sm example" style="float:right;">
        <option selected>Sort by:</option>
        <option value="price-low-high">Price: Low to High</option>
        <option value="price-high-low">Price: High to Low</option>
        <option value="name-order">Name</option>
    </select>
</form>

<form action="/filter" method="GET">
    <select class="form-select form-select-sm" name="option" id="filterOption"
        aria-label=".form-select-sm example" style="float:left;">
        <option selected>Select filter:</option>
        <option value="equals">Price: Equals</option>
        <option value="less-than">Price: Less than</option>
        <option value="less-than-equal">Price: Less than or equal</option>
        <option value="greater-than">Price: Greater than</option>
        <option value="greater-than-equal">Price: Greater than or equal</option>
    </select>
    <input type="text" id="filterBox" class="form-control rounded small col-md-1" name="filterValue" style="float:left; visibility:hidden;">
    <button type="submit" id="filterSubmit" style="float:left; visibility:hidden;">Filter</button>
</form>

<br>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.category}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.price}}</td>
            <td>
                <a href="/product/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/product/delete/{{this._id}}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>

    $(document).on('change', '#filterOption', function () {
        $('#filterBox').css('visibility', 'visible');
        $('#filterSubmit').css('visibility', 'visible');
       
    });

</script>